<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.basic.zjgfbcc.dao.mysql.FbDeptDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.basic.zjgfbcc.entity.FbDept" id="fbDeptMap">
        <result property="orgIndexCode" column="orgIndexCode"/>
        <result property="orgNo" column="orgNo"/>
        <result property="orgName" column="orgName"/>
        <result property="orgPath" column="orgPath"/>
        <result property="parentOrgIndexCode" column="parentOrgIndexCode"/>
        <result property="parentOrgName" column="parentOrgName"/>
    </resultMap>

	<select id="getList" resultType="com.basic.zjgfbcc.entity.FbDept">
		select * from fb_dept t <include refid="where_clause" />
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by row_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="getCount" resultType="int">
		select count(*) from fb_dept t  <include refid="where_clause" />
	</select>

    <!-- 搜索数据区域 -->
    <sql id="where_clause">
        <where>
            1=1
            <if test="orgIndexCode != null and orgIndexCode != ''"> and t.orgIndexCode = #{orgIndexCode} </if>
    		<if test="orgIndexCodeVague != null and orgIndexCodeVague != ''"> and t.orgIndexCode like concat('%',#{orgIndexCodeVague},'%') </if>
            <if test="orgNo != null and orgNo != ''"> and t.orgNo = #{orgNo} </if>
    		<if test="orgNoVague != null and orgNoVague != ''"> and t.orgNo like concat('%',#{orgNoVague},'%') </if>
    		<if test="orgName != null and orgName != ''"> and t.orgName like concat('%',#{orgName},'%') </if>
            <if test="orgPath != null and orgPath != ''"> and t.orgPath = #{orgPath} </if>
    		<if test="orgPathVague != null and orgPathVague != ''"> and t.orgPath like concat('%',#{orgPathVague},'%') </if>
            <if test="parentOrgIndexCode != null and parentOrgIndexCode != ''"> and t.parentOrgIndexCode = #{parentOrgIndexCode} </if>
    		<if test="parentOrgIndexCodeVague != null and parentOrgIndexCodeVague != ''"> and t.parentOrgIndexCode like concat('%',#{parentOrgIndexCodeVague},'%') </if>
            <if test="parentOrgName != null and parentOrgName != ''"> and t.parentOrgName = #{parentOrgName} </if>
    		<if test="parentOrgNameVague != null and parentOrgNameVague != ''"> and t.parentOrgName like concat('%',#{parentOrgNameVague},'%') </if>
        </where>
    </sql>
	 
	<insert id="save" parameterType="com.basic.zjgfbcc.entity.FbDept">
		insert into fb_dept
		(
		    `row_guid`,
			`create_time`,
			`del_flag`,
			`sort_sq`,
			`orgIndexCode`, 
			`orgNo`, 
			`orgName`, 
			`orgPath`, 
			`parentOrgIndexCode`, 
			`parentOrgName`
		)
		values
		(
		    #{rowGuid},
			#{createTime},
			#{delFlag},
			#{sortSq},
			#{orgIndexCode}, 
			#{orgNo}, 
			#{orgName}, 
			#{orgPath}, 
			#{parentOrgIndexCode}, 
			#{parentOrgName}
		)
	</insert>
	 
	<update id="update" parameterType="com.basic.zjgfbcc.entity.FbDept">
		update fb_dept 
		<set>
            <if test="createTime != null">`create_time` = #{createTime}, </if>
            <if test="delFlag != null">`del_flag` = #{delFlag}, </if>
            <if test="sortSq != null">`sort_sq` = #{sortSq}, </if>
			<if test="orgNo != null">`orgNo` = #{orgNo}, </if>
			<if test="orgName != null">`orgName` = #{orgName}, </if>
			<if test="orgPath != null">`orgPath` = #{orgPath}, </if>
			<if test="parentOrgIndexCode != null">`parentOrgIndexCode` = #{parentOrgIndexCode}, </if>
			<if test="parentOrgName != null">`parentOrgName` = #{parentOrgName}</if>
		</set>
        where row_guid = #{rowGuid}
	</update>
	
	<delete id="deleteBatch">
		delete from fb_dept  where row_guid in
		<foreach item="rowGuid" collection="array" open="(" separator="," close=")">
			#{rowGuid}
		</foreach>
	</delete>

    <select id="getDetailByGuid" resultType="com.basic.zjgfbcc.entity.FbDept">
        select * from fb_dept where row_guid =#{rowGuid} and del_flag =0
    </select>

    <select id="getDetailByPara" resultType="com.basic.zjgfbcc.entity.FbDept">
        select * from fb_dept where ${para}=#{value} and del_flag =0
    </select>

    <select id="getQueryList" resultType="com.basic.zjgfbcc.entity.FbDept">
        select * from fb_dept t <include refid="where_clause" />
        order by row_id desc
    </select>

	<select id="findDepts" resultType="com.basic.zjgfbcc.entity.FbDept">
		select * from fb_dept where parentOrgIndexCode=#{orgIndexCode}
	</select>



</mapper>